USE [master]
GO
/****** Object:  Database [NewsOnline]    Script Date: 22-02-2019 01:33:36 ******/
CREATE DATABASE [NewsOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewsOnline', FILENAME = N'C:\Users\hp\NewsOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewsOnline_log', FILENAME = N'C:\Users\hp\NewsOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewsOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewsOnline]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[StateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[News]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NULL,
	[PublishDate] [datetime] NULL,
	[BannerUrl] [varchar](max) NULL,
	[Body] [varchar](max) NULL,
	[Category] [int] NULL DEFAULT ((1)),
	[Publication] [int] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[StatusId] [int] NULL,
	[Country] [int] NULL,
	[State] [int] NULL,
	[City] [int] NULL,
	[Category] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[States]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[CountryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](max) NULL,
	[email] [varchar](100) NOT NULL,
	[type] [varchar](100) NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](max) NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [name], [StatusId]) VALUES (1, N'Politics', 1)
INSERT [dbo].[Category] ([Id], [name], [StatusId]) VALUES (2, N'Sports', 1)
INSERT [dbo].[Category] ([Id], [name], [StatusId]) VALUES (3, N'CENEMA', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [StateId]) VALUES (1, N'Patiala', 1)
INSERT [dbo].[Cities] ([Id], [Name], [StateId]) VALUES (2, N'Mohali', 1)
INSERT [dbo].[Cities] ([Id], [Name], [StateId]) VALUES (3, N'Jalandhar', 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name]) VALUES (1, N'India')
INSERT [dbo].[Countries] ([Id], [Name]) VALUES (2, N'England')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [PublishDate], [BannerUrl], [Body], [Category], [Publication]) VALUES (1, N'My First News', CAST(N'2019-01-19 15:14:01.090' AS DateTime), N'http://localhost:54852/Attachments/2019/1/19/Images/094400_error.PNG', N'Hello <b>Hi</b><div><ul><li>one</li><li>two</li><li>three</li></ul></div>', 1, 1)
SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([Id], [name], [StatusId], [Country], [State], [City], [Category], [UserId]) VALUES (1, N'Publisher1', 1, 1, 1, 2, NULL, 1)
INSERT [dbo].[Publisher] ([Id], [name], [StatusId], [Country], [State], [City], [Category], [UserId]) VALUES (2, N'Publisher2', 1, 1, 1, 2, NULL, 1)
INSERT [dbo].[Publisher] ([Id], [name], [StatusId], [Country], [State], [City], [Category], [UserId]) VALUES (1002, N'Computronics', 1, 1, 1, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[Publisher] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [Name], [CountryId]) VALUES (1, N'PUNJAB', 1)
INSERT [dbo].[States] ([Id], [Name], [CountryId]) VALUES (2, N'Gujrat', 1)
INSERT [dbo].[States] ([Id], [Name], [CountryId]) VALUES (3, N'Uttar Pardesh', 1)
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [username], [password], [email], [type], [StatusId]) VALUES (1, N'Sandeep1', N'AGp4AcbN9bGCq17oaV0aGojfIuUtjr/SohWam+bLp09Jj21OT08jcXCMGRPXW4o+CQ==', N'bogus@gmai.co', N'Publisher', 1)
INSERT [dbo].[User] ([Id], [username], [password], [email], [type], [StatusId]) VALUES (2, N'User1', N'AMfVPSL25JLwnLXWw/cnoOkviWdmXl8iIRaVNZtKNAGc83H5tIXJ7c3ZTKyRUIzU2g==', N'bogus12@gmail.com', N'Publisher', 1)
INSERT [dbo].[User] ([Id], [username], [password], [email], [type], [StatusId]) VALUES (3, N'TestUser1', N'AJZi5opndhfBb8GJBN+BbD1AR4HPEUMzvpDRcCh66PuJ84NPjJ3fRjHGcb//HybGMA==', N'boguus@gmail.com', N'Reader', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserToken] ON 

INSERT [dbo].[UserToken] ([Id], [Token], [UserId]) VALUES (1, N'b3d7ab42-a2cb-4c82-949c-d4bbfe44c488', 0)
INSERT [dbo].[UserToken] ([Id], [Token], [UserId]) VALUES (2, N'2837a00f-c84d-497b-8699-f0c462a89edd', 4003)
INSERT [dbo].[UserToken] ([Id], [Token], [UserId]) VALUES (1002, N'e5f78916-7a10-4330-b54a-d2f96aaab167', 5003)
SET IDENTITY_INSERT [dbo].[UserToken] OFF
/****** Object:  StoredProcedure [dbo].[usp_Category_InsUpd]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Category_InsUpd] 
	-- Add the parameters for the stored procedure here
	@Id int = 0,
	@name varchar(100),
	@statusId int = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS(SELECT TOP 1 1 FROM Category Where Id = @Id)
	BEGIN
		INSERT INTO Category(name, StatusId) values(@name, @statusId)
	END
	ELSE
	BEGIN
		UPDATE Category SET name = @name, StatusId = @statusId WHERE Id = @id
	END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_News_InsUpd]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_News_InsUpd] 
	-- Add the parameters for the stored procedure here
	@Id int = 0,
	@title varchar(MAX),
	@body VARCHAR(MAX),
	@bannerUrl VARCHAR(MAX),
	@publication int,
	@category int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS(SELECT TOP 1 1 FROM News Where Id = @Id)
	BEGIN
		INSERT INTO News(Title, Body, BannerUrl, PublishDate, Publication, Category) values(@title, @body, @bannerUrl, GetDate(), @publication, @category)
	END
	ELSE
	BEGIN
		UPDATE News SET Title = @title, BannerUrl = @bannerUrl, Body = @body, Publication = @publication, Category = @category WHERE Id = @id
	END
END


GO
/****** Object:  StoredProcedure [dbo].[usp_Publish_InsUpd]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Publish_InsUpd] 
	-- Add the parameters for the stored procedure here
	@Id int = 0,
	@name varchar(100),
	@statusId int = 1,
	@country int,
	@state int,
	@city int,
	@category int,
	@userId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS(SELECT TOP 1 1 FROM Publisher Where Id = @Id)
	BEGIN
		INSERT INTO Publisher(name, StatusId, Country, [State], City, Category, UserId) values(@name, @statusId, @country, @state, @city, @category, @userId)
	END
	ELSE
	BEGIN
		UPDATE Publisher SET name = @name, StatusId = @statusId, Country = @country, [State] = @state, City = @city, Category = @category WHERE Id = @id
	END
END




GO
/****** Object:  StoredProcedure [dbo].[usp_RegisterUser]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_RegisterUser] 
	-- Add the parameters for the stored procedure here
	@username varchar(100),
	@email varchar(100),
	@password varchar(max),
	@type varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS(SELECT TOP 1 1 FROM [User] Where username = @username OR email = @email)
	BEGIN
		INSERT INTO [User](username, email, [password], [type], StatusId) values(@username, @email, @password, @type, 0)
	END
END


GO
/****** Object:  StoredProcedure [dbo].[usp_UserContext_Get]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UserContext_Get] 
	-- Add the parameters for the stored procedure here
	@token VARCHAR(MAX)
AS
BEGIN
	Select U.[Id]
      ,[username]
      --,[password]
      ,[email]
      ,[type]
      ,[StatusId]
	  ,UT.Token
	 from UserToken UT
	INNER JOIN [User] U ON UT.UserId = U.Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UserToken_Insert]    Script Date: 22-02-2019 01:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UserToken_Insert] 
	-- Add the parameters for the stored procedure here
	@userId int,
	@token varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS(SELECT TOP 1 1 FROM [UserToken] Where UserId = @userId)
	BEGIN
		INSERT INTO [UserToken](UserId, Token) values(@userId, @token)
	END
	ELSE
	BEGIN
		UPDATE UserToken SET Token = @token WHERE UserId = @userId
	END
END


GO
USE [master]
GO
